<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wise.E4012.Modbus.DemoApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <Wise.E4012.Modbus.DemoApp.Properties.Settings>
            <setting name="IpAddress" serializeAs="String">
                <value>192.168.1.142</value>
            </setting>
        </Wise.E4012.Modbus.DemoApp.Properties.Settings>
    </applicationSettings>
</configuration>